extends ../../layouts/default.pug 
include ../../mixins/box-head.pug
include ../../mixins/card.pug

block main 
  +box-head(titlePage)

  .grid.gap-4(class="lg:grid-cols-2 md:grid-cols-1 sm:grid-cols-1" list-button="")
    +card-song(songs)
